<div class="news">
  <ul>
    <li><b>HKU Summer Research Programme (SRP) Scholarship 2023</b> — Selected among <b>92 / 1,000+</b> global applicants (Top ~9%)</li>
    <li><b>Academic Scholarship (2018, 2020, 2022, 2023), SJTU</b></li>
    <li><b>Outstanding Graduate of SJTU 2021</b> (Top 15%)</li>
    <li><b>CET-6: 634 / 710</b> (Dec 2018) — (~Top 2%; among ~3.2M test-takers nationwide)</li>
    <li><b>National Third Prize</b>, National English Competition for College Students (NECCS) 2018 — Top 5% (1.2M+ participants nationwide)</li>
 </ul>
</div>
