<div class="news">
  <ul>
    <li><b>01.2025</b> M2DGR is awarded <b>ESI Highly Cited Paper(Top 1%)</b>!.</li>
    <li><b>01.2025</b> LIGO is accepted to <b>TRO2025</b>! Details below.</li>
    <li><b>06.2024</b> DAF is accepted to <b>IROS2024</b>! Details below.</li>
    <li><b>03.2024</b> Ground-Fusion is accepted to <b>ICRA2024</b>! Details below.</li>
    <li><b>03.2024</b> EN-SLAM is accepted to <b>CVPR2024</b>! Details below.</li>
    <li><b>03.2024</b> A paper is accepted to <b>GPS Solutions</b>! Details below.</li>
    <li><b>08.2023</b> M2C-GVIO is accepted to Satellite Navigation! Details below.</li>
    <li><b>06.2023</b> I won the <b>HKU Summer Research Programme Scholarship</b>!</li>
    <li><b>12.2021</b> M2DGR is accepted to <b>RAL and ICRA2022</b>! Details below.</li>
  </ul>
</div>
