<div class="news">
  <ul>
    <li><b>06.2024</b> DAF is accepted to **IROS2024**!</li>
    <li><b>03.2024</b> Ground-Fusion is accepted to **ICRA2024**!</li>
    <li><b>03.2024</b> EN-SLAM is accepted to CVPR2024!</li>
    <li><b>03.2024</b> A paper is accepted to GPS Solutions!</li>
    <li><b>08.2023</b> M2C-GVIO is accepted to Satellite Navigation! </li>
    <li><b>06.2023</b> I won the HKU Summer Research Programme Scholarship!</li>
    <li><b>012.2021</b> M2DGR is accepted to **RAL and ICRA2022**!</li>
 </ul>
</div>
